@charset "UTF-8";


.test {

	border: 1px solid salmon;
}


li {
	list-style: none;
	margin-top: 25px;
}

#guestCommentWrapper {
	padding: 0;
	margin-top: 15px;
}

hr {
	margin-top: 35px;
	margin-bottom: 35px;
}

.comment-info-wrapper {
	display: flex;
	padding: 0 25px 0 0px;
}

.comment-info-wrapper>div {
	margin: 10px 0 0 25px;
}

.guestbook-content {
	background-color: #fafafa;
}

.delBtn {}

.comment-info-wrapper {
	display: flex;
}

.btnWrapper {
	display: flex;
}

.btn-outline-dangerous {
	color: #ff3e1d;
	/* border-color: #ff3e1d; */
	background: transparent;
}

.btn-outline-dangerous:hover {
	color: #fff;
	background-color: #e6381a;
	border-color: #e6381a;
	box-shadow: 0 0.125rem 0.25rem 0 rgba(255, 62, 29, 0.4);
	transform: translateY(-1px);
}

.btn-outline-infoo {
	color: #03c3ec;
	/* border-color: #03c3ec; */
	background: transparent;
}

.btn-outline-infoo:hover {
	color: #fff;
	background-color: #03b0d4;
	border-color: #03b0d4;
	box-shadow: 0 0.125rem 0.25rem 0 rgba(3, 195, 236, 0.4);
	transform: translateY(-1px);
}

.comment-form-wrapper2 {
	display: flex;
}

.comment-form-wrapper2 {
	display: flex;
	align-items: baseline;
	justify-content: center;
}

.li-wrapper {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}


.form-control {
	border: none;
}