<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel='stylesheet' href='fullcalendar/core/main.css' />
<link rel='stylesheet' href='fullcalendar/daygrid/main.css' />
<link rel='stylesheet' href='fullcalendar/timegrid/main.css' />
<link rel='stylesheet' href='fullcalendar/list/main.css' />

<script src='fullcalendar/core/main.js'></script>
<script src='fullcalendar/daygrid/main.js'></script>
<script src='fullcalendar/timegrid/main.js'></script>
<script src='fullcalendar/list/main.js'></script>

</head>
<body>
  <div id="calendar">
    
  </div>
</body>
</html>